

/** MapCard.js **/

.animstart-appear {
	opacity: 0.01;	
	max-height : 0;
}

.animstart-appear-active {
	opacity: 1;	
	transition: all .9s ease-in;
	max-height : 1000px;
}

/* marker */
.marker {
	position: absolute;
  	width: 40px;
  	height: 55px;
  	left: -20px;
  	top: -20px;
  	background-image: url(/static/mapIcon.svg); 
  	text-align: center;
  	color: #3f51b5;
  	font-size: 16px;
  	font-weight: bold;
  	padding: 4px;
  	cursor: pointer;
}

.marker:hover {
	color: #f44336;
}

/* cluster marker */
.clusterm {
	position: absolute;
	cursor: pointer;
	width: 40px;
  	height: 55px;
  	left: -20px;
  	top: -20px;

  	border: 5px solid #004336;
  	border-radius: 50%;
  	background-color: white;
  	text-align: center;
  	color: #333;
  	font-size: 14px;
  	font-weight: bold;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

/* mapcard */
.mapcard {
	position: absolute;
	background: #fff000;
	bottom: 10px;
	width: 400px;
	height: 200px;
	text-align: center;
}

.mapcard h3 {
	color: #000;
}

.mapcard .footer .leftFooter{
	position: absolute;
	bottom: 20px;
	left: 10px;
}

.mapcard .footer .rightFooter{
	position: absolute;
	bottom: 20px;
	right: 10px;
}

.mapcard .footer .rightFooter div {
	float: left;
	margin-right: 10px;
}

.mapcard .star {
	position: absolute;
	top: 10px;
	right: 10px;
}

