

/** MapCard.js **/
.mapcard h3 {
	color: #000;
}

.animstart-appear {
	opacity: 0.01;	
	max-height : 0;
}

.animstart-appear-active {
	opacity: 1;	
	transition: all .9s ease-in;
	max-height : 1000px;

}